.Projects {
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
}

.Projects__title {
  font-size: 2.5rem;
  text-align: center;
  margin: 0rem 0 4rem;
  user-select: none;
}

.Projects__cardContainer {
  display: flex;
  flex-wrap: wrap;
}

.Projects__card {
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: linear-gradient(315deg, #ffbc00, #ff0058);
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: linear-gradient(315deg, #ffbc00, #ff0058);
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(30px);
  }

  //   .skewLeft {
  //     &::before, &::after {

  //     }
  //   }

  &:nth-child(1) {
    &::before,
    &::after {
      background: linear-gradient(315deg, #b58501, #ff0058);
      // border: 5px solid red;
    }
  }

  &:nth-child(2) {
    &::before,
    &::after {
      background: linear-gradient(315deg, #03a9f4, #ff0058);
      // transform: skewX(0deg);
      // border: 5px solid red;
    }
  }

  &:nth-child(3) {
    &::before,
    &::after {
      background: linear-gradient(315deg, #33a502, #028ead);
      // transform: skewX(-15deg);
      // border: 5px solid red;
    }
  }

  &:nth-child(4) {
    &::before,
    &::after {
      background: linear-gradient(315deg, #7003ff, #00d0ff);
      // transform: skewX(-15deg);
      // border: 5px solid red;
    }
  }

  &:nth-child(5) {
    &::before,
    &::after {
      background: linear-gradient(315deg, #bb9602, #02b4dc);
      // transform: skewX(-15deg);
      // border: 5px solid red;
    }
  }

  &:nth-child(6) {
    &::before,
    &::after {
      background-image: linear-gradient(315deg, #0f3970 0%, #6c9cc1 100%);
      // transform: skewX(-15deg);
      // border: 5px solid red;
    }
  }

  &:nth-child(7) {
    &::before,
    &::after {
      background-image: linear-gradient(
        315deg,
        #3b41c5 0%,
        #a981bb 49%,
        #937360 100%
      );
      // transform: skewX(-15deg);
      // border: 5px solid red;
    }
  }
  &:nth-child(8) {
    &::before,
    &::after {
      background-image: linear-gradient(315deg, #4facfe 0%, #00a8b0 100%);
      // transform: skewX(-15deg);
      // border: 5px solid red;
    }
  }
  &:nth-child(9) {
    &::before,
    &::after {
      background-image: linear-gradient(315deg, #30cfd0 0%, #330867 100%);
      // transform: skewX(-15deg);
      // border: 5px solid red;
    }
  }

  background-image: linear-gradient(to right);

  span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      opacity: 0;
      transition: 0.5s;
      animation: animate 2s ease-in-out infinite;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      opacity: 0;
      transition: 0.5s;
      animation: animate 2s ease-in-out infinite;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
      animation-delay: -1s;
    }
  }
}

.Projects__content {
  position: relative;
  z-index: 1;
  left: 0;
  padding: 40px 40px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  backdrop-filter: blur(10px);
  z-index: 1;
  transition: 0.5s;
  color: #fff;
  line-height: 1.25rem;
  user-select: none;
}

.Projects__cardTitle {
  // margin: 1.5rem 0 1rem;
  font-size: larger;
  font-weight: 700;
}

.Projects__techStack {
  display: flex;
  margin: 1rem 0;
}

.Projects__techListItem {
  margin-right: 0.5rem;
}

.Projects__description {
  margin: 1rem 0;
  min-height: 140px;
}

.Projects__links {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: white;
  }
}

.Projects__linkIcon {
  margin: 0 1rem;
  font-size: 1.5rem;
  transition: 0.2s;

  &:hover {
    transform: scale(1.5);
    color: rgb(0, 0, 0);
  }
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(-10px);
  }
}

@media only screen and (max-width: 600px) {
  .Projects {
    // padding-left: 2.5rem;
  }

  .Projects__title {
    margin-bottom: 2rem;
  }
  .Projects__cardContainer {
    // display: flex;
    flex-direction: column;
    align-content: center;
    // justify-content: center;
    // padding-left: 2.5rem;
  }

  .Projects__card {
    margin: 6rem 0;

    &::before,
    &::after {
      transform: skewX(0deg);
      //   left: 20px;
      width: calc(100% - 90px);
    }

    span::before {
      top: -50px;
      left: 50px;
      width: 100px;
      height: 100px;
      opacity: 1;
    }

    span::after {
      bottom: -50px;
      right: 50px;
      width: 100px;
      height: 100px;
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .Projects {
    // padding-left: 2.5rem;
  }

  .Projects__title {
    // margin-bottom: 2rem;
  }

  .Projects__cardContainer {
    // display: flex;
    // flex-direction: column;
    // al
    // justify-content: center;
    // padding-left: 2.5rem;
    // align-items: center;
    justify-content: center;
  }
  .Projects__card {
    margin: 6rem 2rem;

    &::before,
    &::after {
      transform: skewX(0deg);
      //   left: 20px;
      width: calc(100% - 90px);
    }

    span::before {
      top: -50px;
      left: 50px;
      width: 100px;
      height: 100px;
      opacity: 1;
    }

    span::after {
      bottom: -50px;
      right: 50px;
      width: 100px;
      height: 100px;
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 992px) {
  .Projects__card {
    &:hover {
      &::before,
      &::after {
        transform: skewX(0deg);
        //   left: 20px;
        width: calc(100% - 90px);
      }

      span::before {
        top: -50px;
        left: 50px;
        width: 100px;
        height: 100px;
        opacity: 1;
      }

      span::after {
        bottom: -50px;
        right: 50px;
        width: 100px;
        height: 100px;
        opacity: 1;
      }

      .Projects__content {
        //   left: -25px;
        // padding: 60px 40px;
      }
    }
  }
}
