.Header {
    // position: sticky;
    display: flex;
    // justify-content: flex-end;
    align-items: center;
    // border: 1px dashed lawngreen;
    padding: 1rem;
    font-family: 'Cairo', Arial, Helvetica, sans-serif;
}

.Header__logo {
    flex-grow: 1;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: 'Alice';
}

.Header__navItem {
    margin: 0 1rem;
    text-transform: uppercase;
}