$gradient-from-color: rgba(0, 40, 83, 1);
$gradient-to-color: rgba(4, 12, 24, 1);
$gradientConstantPart: circle at 3% 25%, $gradient-from-color 0%, $gradient-to-color 25%;
$gradientConstantPart2: circle at 50% 25%, $gradient-from-color 0%, $gradient-to-color 95%;

.App {
    // border: 3px solid cyan;
    // height: max-content;
    // margin-left: 10%;
    // margin-right: 10%;
    // border-left: 1px solid black;
    // border-right: 1px solid black;
    
}

// .gradient__bg {
//     position: relative;
//     z-index: 1;
//     background:-moz-radial-gradient($gradientConstantPart);
  
//     /* safari 5.1+,chrome 10+ */
//     background:-webkit-radial-gradient($gradientConstantPart);
  
//     /* opera 11.10+ */
//     background:-o-radial-gradient($gradientConstantPart);
  
//     /* ie 10+ */
//     background:-ms-radial-gradient($gradientConstantPart);
  
//     /* global 92%+ browsers support */
//     background:radial-gradient($gradientConstantPart);
//   }

  .gradient__bg2 {
    position: relative;
    z-index: 2;
    background-size: contain;
    background-position: center;
    background:-moz-radial-gradient($gradientConstantPart2);
  
    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient($gradientConstantPart2);
  
    /* opera 11.10+ */
    background:-o-radial-gradient($gradientConstantPart2);
  
    /* ie 10+ */
    background:-ms-radial-gradient($gradientConstantPart2);
  
    /* global 92%+ browsers support */
    background:radial-gradient($gradientConstantPart2);
  }
